/confluenceSettings.properties
/converter.dokuwiki.properties
/converter.jotspot.properties
/converter.jspwiki.properties
/converter.mediawiki.properties
/converter.mindtouch.properties
/converter.moinmoin.properties
/converter.NoSyntaxConversions.properties
/converter.pmwiki.properties
/converter.sharepoint.properties
/converter.smf.properties
/converter.socialtext.properties
/converter.swiki-earlier.properties
/converter.swiki.properties
/converter.testHierarchy.properties
/converter.testxml.properties
/converter.testxml2.properties
/converter.tikiwiki.properties
/converter.trac.properties
/converter.twiki.properties
/converter.vqwiki.properties
/converter.xwiki.properties
/exporter.jotspot.properties
/exporter.mediawiki.properties
/exporter.mindtouch.properties
/exporter.pmwiki.properties
/exporter.sharepoint.properties
/exporter.smf.properties
/exporter.swiki.properties
/guisettings.properties
/mime.types
/settings.illegalcharmap.properties
/settings.tikiwiki.properties
/.svn
